footer {
  .section1 {
    background-image: url('/assets/foto/bg-masthead.jpg');
    height: 600px;

    div {
      margin-top: 0px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        margin-top: 100px;

        div {
          font-size: 70px;
          align-items: center;
          color: white;

        }
      }

      hr {
        width: 120px;
        height: 4px;
        background-color: orangered;
        margin-top: 20px;
        border: 0px;
        margin-bottom: 20px;

      }

      p {
        font-size: 25px;
        color: white;
      }

      button {
        margin-top: 20px;
        border-radius: 25px;
        padding: 20px;
        border: none;
        background-color: orangered;
        color: white
      }
    }

  }

  .section2 {

    .book {
      background-color: orangered;
      height: 500px;
    }

    div {
      margin-top: 0px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        color: white;
        font-size: 50px;
        margin-top: 80px;
      }

      hr {
        width: 100px;
        height: 4px;
        background-color: white;
        margin-top: 20px;
        border: 0px;
        margin-bottom: 20px;
      }

      p {
        color: white;
        font-size: 20px;
      }

      button {
        font-size: 20px;
        border-radius: 40px;
        padding: 20px;
        margin-top: 15px;
        border: none;
      }
    }



  }

  .section3 {
    .book1 {
      margin-top: 0px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        margin-top: 50px;
      }

      hr {
        width: 60px;
        height: 4px;
        background-color: orangered;
        margin-top: 20px;
        border: 0px;
        margin-bottom: 20px;
      }

    }

  }

  .book2 {
    display: flex;
    justify-content: space-around;

    h1 {
      text-align: center;
      font-weight: lighter;

    }

    p {
      text-align: center;
      color: darkgrey;
      opacity: 0, 6;
    }

    .text {
      display: flex;
      justify-content: center;
      font-size: 40px;
      color: rgb(238, 94, 42);



    }


  }

  .section4 {
    .parent {
      margin-top: 50px;

      .box {
        display: grid;
        gap: 0px;
        grid-template-columns: auto auto auto;
        .box1{
          display: grid;
          gap: 0px;
        }

        img {
          width: 480px;
          height: 200px;
        }

      }

   
    }
  }
 .section5{
  .box2{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;
    background-color: rgb(39, 36, 36);
    h1{
      color: white;
      font-size: 30px;
    }
    button{
      margin-top: 20px;
      padding: 20px;
      border-radius: 50px;
      font-weight: bold;
      border: none;
    }
  }
 }
.section6{
  .box3{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      margin-top: 100px;
      font-size: 40px;
      font-weight: lighter;
    }
    hr{
      width: 60px;
      height: 3px;
      background-color:orangered;
      margin-top: 20px;
      border: 0px;
      margin-bottom: 20px;
    }
    p{
      font-size: 20px;
    color: dimgray;
    opacity: 0,9;
    }
    
  
    input{
      width: 400px;
      height: 50px;
     
    }
    .box4{
      margin-top: 20px;
      display: grid;
      gap: 20px;
    }
    .box5{
    font-size: large;
    }

  }
  strong{
    font-size: 50px;
    margin: 10px;
  }
}

.section7{
  .container{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248,249,250);
    width: 100vw;
    height: 100px;
    p{
      color:rgb(156,169,185)
    }

  }
}
}






















//RESPONSIVE
@media screen and (max-width:750px) {
  .section1 {
    text-align: center;

    div {
      text-align: center;
    }
  }


}

@media screen and (max-width:414px) {
  .section1 {
    text-align: center;

    div {
      text-align: center;
    }
  }


}